<div class="sidebar">
  <div class="container"><!--sidebar-sticky-->
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          <!--{{ site.title }}-->
          <div align="center"><img style="border-radius: 0" src="/public/favicon/mstile-70x70.png" alt="Key Club"></div>
        </a>
      </h1>
      <!--<p class="lead">{{ site.description }}</p>-->
    </div>

    <nav class="sidebar-nav sidebar-sticky">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"weight" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
      <br>
      <p >&copy; {{ site.time | date: '%Y' }}, Ward Melville Key Club. All rights reserved.</p>
      {% include social.html %}
    </nav>
  </div>
</div>
